<div *ngIf="person">
  <h2>Szczegółowe dane:</h2>

  <div>
    <label>Imię: </label>
    {{person.name}}
  </div>

  <div>
    <label>Drugie imię: </label>
    {{person.middleName}}
  </div>

  <div>
    <label>Nazwisko: </label>
    {{person.surname}}
  </div>

  <div>
    <label>PESEL: </label>
    {{person.PESEL}}
  </div>

  <div>
    <label>NIP: </label>
    {{person.NIP}}
  </div>

  <div>
    <label>Rodzaj dokumentu tożsamości: </label>
    {{person.typeOfDocument}}
  </div>

  <div>
    <label>Dokument wydany przez: </label>
    {{person.documentIssuedBy}}
  </div>

  <div>
    <label>Numer dokumentu: </label>
    {{person.documentNumber}}
  </div>

  <div>
    <label>Data urodzenia: </label>
    {{person.dateOfBirth}}
  </div>

  <div>
    <label>Miejsce urodzenia: </label>
    {{person.birthplace}}
  </div>

  <div>
    <label>Obywatelstwo: </label>
    {{person.citizenship}}
  </div>

  <div>
    <label>Narodowość: </label>
    {{person.nationality}}
  </div>

  <div>
    <label>Imię ojca: </label>
    {{person.nameOfFather}}
  </div>

  <div>
    <label>Nazwisko panieńskie: </label>
    {{person.maidenName}}
  </div>

  <div>
    <label>Płeć: </label>
    {{person.gender}}
  </div>

  <div>
    <label>Wykształcenie: </label>
    {{person.education}}
  </div>

  <div>
    <label>Numer telefonu: </label>
    {{person.phoneNumber}}
  </div>

  <div>
    <label>E-mail: </label>
    {{person.email}}
  </div>

  <fieldset>
   <legend>Adres: </legend>
     <label>Kod pocztowy: </label> {{person.postalCode}}
     <label>Ulica: </label> {{person.street}}
     <label>Numer ulicy: </label> {{person.streetNumber}}
     <label>Numer domu: </label> {{person.houseNumber}}
     <label>Miasto: </label> {{person.city}}
  </fieldset>



  <button (click)="goBack()">Powrót do listy</button>
</div>
