.container {
	background-color: white;
	width: 25em;
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	-webkit-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	-moz-box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
	box-shadow: 3px 3px 30px 5px rgba(204,204,204,0.9);
}

.selected {
  background-color: #7ECFA5 !important;
  color: white;
}

.persons {
  margin: 0 0 2em 0;
  list-style: none;
  padding: 0;
  width: 25em;
  text-align: center;
}

.persons li {
  cursor: pointer;
  background-color: #D8EDE2;
  margin: .6em;
  padding: .4em 0;
  height: 1.7em;
  border-radius: 4px;
}

.persons li.selected:hover {
  background-color: #257D50 !important;
  color: #C0C4C2;
}

.persons li:hover {
  color: #607D8B;
  background-color: #CAEDDB;
}

button {
	width: 300px;
	background-color: #36b03c;
	font-size: 20px;
	color: white;
	padding: .6em .1em;
	margin: 3px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

button:hover {
	background-color: #196E42;
}
