label {
  display: inline-flex;
  margin: .3em .1em 0 .6em;
  color: #607D8B;
  font-weight: bold;
}

button {
  background-color: #1491BA;
  border: none;
  color: white;
  padding: 8px 16px;
  margin: 1.4em .9em;
  cursor: pointer;
  width: 14em;
}

button:hover {
  background-color: #77C2D1;
}

fieldset {
  margin-top: .4em;
  width: 50%;
}
