<h1>{{title}}</h1>
<div class="container">
<h2>Lista osób:</h2>
<ul class="persons">
  <li *ngFor="let person of persons" [class.selected]="person === selectedPerson" (click)="onSelect(person)">
     {{person.name}} {{person.middleName}} {{person.surname}}
  </li>
</ul>

<div *ngIf="selectedPerson">
  <h3>
    Naciśnij poniższy przycisk, aby zobaczyć szczegółowe dane osoby - {{selectedPerson.name}}.
  </h3>
  <button (click)="gotoDetail()">Zobacz szczegóły</button>
</div>
<div>
